body {
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
    padding: 0;
    margin: 0;
}

button {
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
}

@media screen and (max-width: 500px) {
    .signin-header>h1 {
        font-size: 30px;
    }
}

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    grid-template-rows: 1fr;
    width: 500px;
    max-width: 90%;
    overflow: hidden;
    position: relative;
}

.home-logo {
    width: 150px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.home-body {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-body>a {
    max-width: 100%;
}

.signin-header {
    max-width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.signin-header>h1 {
    font-family: 'Larsseit', Helvetica Neue, Helvetica, Segoe UI, Tahoma, Arial, sans-serif;
    width: 100%;
}

.signin-header>p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 28px;
}

.large-white-button {
    width: 400px;
    max-width: 100%;
    height: 44px;
    text-decoration: none;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid #BBBABB;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.large-white-button:hover {
    box-shadow: 0px 2px 5px #ddd;
}

.large-white-button:active {
    background-color: #F6F6F6;
}

.home-or {
    position: relative;
    text-align: center;
    margin: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

button {
    cursor: pointer;
}

.divider {
    position: relative;
    border-top: 1px solid #ddd;
    margin-top: -60px;
    margin-bottom: 60px;
    height: 0px;
    z-index: -5;
    width: 100%;
}

.large-purple-button {
    width: 400px;
    max-width: 100%;
    height: 44px;
    text-decoration: none;
    margin: auto;
    box-sizing: border-box;
    background-color: #4A154B;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
}

.large-purple-button:hover {
    background-color: #5C2C5D;
}

.large-purple-button:active {
    background-color: #653565;
}

.demo-user-wrapper {
    margin-top: 20px;
    max-width: 100%;
}

span {
    color: #E01E5A;
    text-align: left;
    width: 100%
}

.google-icon {
    height: 20px;
    position: absolute;
    left: 85px;
}
