.main-page-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #5e2262;
    background: linear-gradient(160deg, #83388a, #150616);
}

.top-bar-wrapper {
    min-width: none;
    min-height: 40px;
    width: 100%;
    align-items: center;
    z-index: 60;
}

.top-bar-wrapper>div {
    width: 20%;
}

.top-bar-wrapper>div>div>span>input {
    width: 100%;
    height: 34px;
}

.main-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}