.hidden {
  display: none;
}

.react-bar-hidden {
  opacity: 0;
}

.channel-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-font);
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #999;
  z-index: 10;
}

.channel-page-button-container {
  display: flex;
  justify-content: space-between;
  min-height: 49px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--header-bottom-border);
  padding: 10px;
}

.channel-page-button-container>button {
  background: none;
  border-radius: 5px;
  padding: none;
}

.channel-page-button-container>button:first-child {
  font-weight: 600;
  font-size: 20px;
  border: none;
}

.channel-page-button-container>button:hover {
  background-color: var(--channel-header-hover);
}

.channel-page-button-container>button:active {
  background-color: var(--channel-header-active);
}

.channel-page-first-button {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--color-font);
}

.channel-page-button-arrow {
  font-size: 12px;
}

.channel-page-button-container>button:last-child {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 0;
  height: 26px;
  color: var(--color-font);
  display: flex;
  align-items: center;
}

.channel-page-button-container>button:last-child:hover {
  color: var(--color-font);
}

.channel-page-button-container>button:last-child:hover .member-button-image-wrapper {
  border: 3px solid var(--channel-header-hover);
}

.channel-members-button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
  margin-left: 15px;
  margin-right: 8px;
  padding: 0;
}

.member-button-image-wrapper {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 3px solid var(--color-background);
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
}

.member-button-image-wrapper>img {
  height: 100%
}

.all-messages-container {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.emoji-box {
  position: absolute;
  right: 120px;
  z-index: 200;
}

.user-message-container {
  display: flex;
  padding: 5px 20px 5px 20px;
  justify-content: space-between;
}

.user-message-container:hover {
  background-color: var(--color-hover);
}

.pinned {
  background-color: #fef9ec;
}

.pinned:hover {
  background-color: #fef9ec;
}

.pinned-icon-on-message {
  color: #e8912d;
  align-self: flex-start;
  transform: rotate(-45deg);
  position: relative;
  left: 30px;
  bottom: 5px;
}

.message-profile-pic {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.message-body-header-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.message-owner-date-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  font-weight: 400;
  width: 90%;
}

.date-name-container {
  display: flex;
  align-items: center;
  gap: 5px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.message-owner,
.message-post-time,
.message-body,
.message-reaction {
  height: fit-content;
  margin: 0;
  padding: 0;
}

.message-owner {
  font-size: 15px;
  font-weight: 600;
}

.message-owner:hover {
  text-decoration: underline;
}

.message-post-time {
  display: flex;
  font-size: 12px;
  color: #888;
}

.message-body {
  overflow-wrap: break-word;
}

.message-reactions-container {
  display: flex;
  margin-left: 60px;
}

.message-reaction {
  display: flex;
  gap: 5px;
  border-radius: 15px;
  width: 50px;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: var(--reaction);
  border: 1px solid transparent;
  cursor: pointer;
}

.message-reaction:hover {
  background-color: var(--react-bar-hover);
  border: 1px solid grey;
}

.message-reaction:active {
  background-color: var(--react-bar-active);
}

.react-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  gap: 5px;
  border: 1px solid var(--date-divider);
  border-radius: 10px;
  padding: 5px;
  width: auto;
  background-color: var(--color-hover);
  box-shadow: 2px 2px 10px var(--react-bar-shadow);
  cursor: pointer;
  z-index: 0;
  position: sticky;
  right: 30px;
}

.profile-modal-messages {
  position: relative;
  z-index: 1;
}

.react-bar>* {
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

.react-bar>*:hover {
  background-color: var(--react-bar-hover);
}

.react-bar>*:active {
  background-color: rgb(193, 193, 193);
  background-color: var(--react-bar-active);
}

.remove-message {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.pin-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

.confirm-message-delete {
  position: relative;
  right: 140px;
  bottom: 4vh;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px lightgrey;
  text-align: center;
  color: #e01e5a;
  width: 140px;
  font-size: 14px;
  cursor: pointer;
}

.confirm-message-delete:hover {
  text-decoration: underline;
}

.reaction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.message-date-separator {
  border: 1px solid var(--date-divider);
  text-align: center;
  width: fit-content;
  border-radius: 100px;
  padding: 6px 15px 6px 15px;
  background-color: var(--message-date-seperator);
  font-size: 13px;
  font-weight: 600;
  z-index: 1;
  position: relative;
  margin: 0;
}

.date-divider {
  position: relative;
  border-bottom: 1px solid var(--date-divider);
  margin-top: 0px;
  z-index: 0;
  height: 0px;
  width: 100%;
  margin-top: -15px;
}

.message-body-reactions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.date-separator-bar {
  position: relative;
  border-bottom: 1px solid lightgrey;
  bottom: 21px;
  z-index: 0;
}

.reaction-count {
  font-size: 12px;
}

.theme-light {
  --color-background: white;
  --color-font: #1D1C1D;
  --color-hover: #f6f6f6;
  --color-active: #f1f1f1;
  --inner-nav-header-hover: #C9AECB;
  --inner-nav-header-active: #bda5bf;
  --inner-nav-hover: #C7ACC8;
  --inner-nav-active: #bda5bf;
  --channel-header-hover: #f6f6f6;
  --channel-header-active: #f1f1f1;
  --inner-nav-channel-font: #454447;
  --inner-nav-wrapper-border: #C0AEC4;
  --inner-background: #dac3da;
  --message-date-seperator: #f6f6f6;
  --date-divider: #dddddd;
  --react-bar-shadow: lightgray;
  --react-bar-hover: lightgray;
  --react-bar-active: rgb(193, 193, 193);
  --reaction: #efefef;
  --reaction-hover: #F6F6F6;
  --reaction-active: white;
  --header-bottom-border: #e2e2e2;
}

.theme-dark {
  --color-background: #1b1d21;
  --color-font: #d0d1d2;
  --color-hover: #424242;
  --color-active: #525252;
  --inner-nav-header-hover: #562C56;
  --inner-nav-header-active: #653565;
  --inner-nav-hover: #562C56;
  --inner-nav-active: #653565;
  --channel-header-hover: #353739;
  --channel-header-active: #454749;
  --inner-nav-channel-font: #B9BABE;
  --inner-nav-wrapper-border: #747474;
  --inner-background: #350d36;
  --react-bar-shadow: #35373a;
  --react-bar-hover: #34383d;
  --react-bar-active: #222529;
  --message-date-seperator: #1b1d21;
  --date-divider: #35373a;
  --reaction: #222529;
  --reaction-hover: #2d3137;
  --reaction-active: #40464e;
  --header-bottom-border: #747474;
} 
