.inner-navbar-wrapper {
    min-width: min(max(25%, 230px), 330px);
    height: 100%;
    box-sizing: border-box;
    background-color: var(--inner-background);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid var(--inner-nav-wrapper-border);

}

.inner-navbar-header {
    height: 49px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--inner-nav-wrapper-border);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    padding-left: 16px;
}

.inner-navbar-header>button {
    background-color: var(--inner-background);
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

.inner-navbar-header>button>p {
    display: flex;
    justify-content: space-between;
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-font)
}

.inner-navbar-header>button>p>i {
    font-size: 10px;
}

.inner-navbar-header>button:hover {
    background-color: var(--inner-nav-header-hover)
}

.inner-navbar-header>button:active {
    background-color: var(--inner-nav-header-active)
}

.inner-navbar-content {
    padding: 0px;
    width: 100%;
}

.inner-navbar-content>li {
    width: 94%;
    margin-left: 3%;
    list-style-type: none;
    height: 28px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.inner-navbar-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.bold-channel>a>div {
    font-weight: 700;
}

.navbar-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    justify-content: space-between;
    padding: 10px;
}

.navbar-content-left {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 100px;
}

.navbar-content-left>i {
    font-size: 13px;
}

.not-selected-channel>a {
    color: var(--inner-nav-channel-font);
    width: 100%;
}

.not-selected-channel:hover {
    background-color: var(--inner-nav-hover);
}

.not-selected-channel:active {
    background-color: var(--inner-nav-active);
}


.selected-channel {
    color: white;
    background-color: #621E69;
}

.selected-channel>a>p,
.selected-channel>a {
    color: white;
}

.unread-message-count {
    border-radius: 100px;
    color: white;
    height: 18px;
    width: 25px;
    background-color: #83388A;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.theme-light {
    --inner-background: #DAC3DA;

}

.theme-dark {
    --inner-background: #350d36;
}

.channel-dropdown.hidden {
    display: none;
}

.create-channel-container {
    margin-bottom: 5px;
}

.create-channel-container>button {
    font-weight: 300;
    background-color: var(--inner-background);
    border: none;
    align-items: center;
    font-size: 15px;
    padding-left: 17px;
    color: var(--inner-nav-channel-font);
    font-weight: 400;
}

.channel-dropdown {
    border-radius: 5px;
    list-style-type: none;
    background-color: var(--color-background);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 3%;
    border-radius: 5px;
    width: 94%;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;

}

.channel-dropdown>button {
    border: none;
    background-color: var(--color-background);
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    padding: 5px 10px 5px 10px;
    color: var(--color-font);
}

.channel-dropdown>button:hover {
    background-color: #1064A3;
    color: white;
}

.channel-dropdown>button:active {
    background-color: #0e5b96;
}

.inner-profile-pic{
  object-fit: cover;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
