.inner-navbar-wrapper {
    width: 22%;
    max-width: 270px;
    height: 100vh;
    min-width: 230px;
    box-sizing: border-box;
    background-color: var(--inner-background);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid rgb(170, 170, 170, 20%);
}

.inner-navbar-header {
    height: 49px;
    box-sizing: border-box;
    border-bottom: 1px solid #C0AEC4;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    padding-left: 16px;
}

.inner-navbar-header>button {
    background-color: var(--inner-background);
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

.inner-navbar-header>button>p {
    display: flex;
    justify-content: space-between;
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-font)
}

.inner-navbar-header>button>p>i {
    font-size: 10px;
}

.inner-navbar-header>button:hover {
    background-color: #C9AECB;
}

.inner-navbar-content {
    padding: 0px;
    width: 100%;
}

.inner-navbar-content>li {
    width: 94%;
    margin-left: 3%;
    list-style-type: none;
    height: 28px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.inner-navbar-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.bold-channel>a>div {
    font-weight: 700;
}

.navbar-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    justify-content: space-between;
    padding: 10px;
}

.navbar-content-left {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 100px;
}

.navbar-content-left>i {
    font-size: 13px;
}


.not-selected-channel>a {
    color: var(--color-font);
    width: 100%;
}

.not-selected-channel:hover {
    background-color: #C7ACC8;
}

.selected-channel {
    color: white;
    background-color: #621E69;
}

.selected-channel>a>p,
.selected-channel>a {
    color: white;
}

.unread-message-count {
    border-radius: 100px;
    color: white;
    height: 18px;
    width: 25px;
    background-color: #83388A;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.theme-light {
    --inner-background: #DAC3DA;

}

.theme-dark {
    --inner-background: #350d36;
}

.channel-dropdown.hidden {
    display: none;
}

.creat-channel-container {
    margin-bottom: 5px;
}

.creat-channel-container>button {
    font-weight: 300;
    background-color: var(--inner-background);
    border: none;
    align-items: center;
    font-size: 15px;
    padding-left: 17px;
}

.channel-dropdown {
    border-radius: 5px;
    list-style-type: none;
    padding: 4px;
    background-color: #F6F6F6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 9px;
    border-radius: 5px;
    width: 90%;

}

.channel-dropdown>button {
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 300;
}

.creator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    color: var(--color-font);
    width: 100%;
    font-size: 14px;
}

.creator-container>ul {
    margin: 0;
    padding: 10px;
}

.creators {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.creators>*,
.repo-link {
    color: black;
    text-decoration: none;
}

.creator-header {
    text-decoration: underline;
    margin: 0;
    width: 100%;
    text-align: center;
}

.creator-links {
    display: flex;
    gap: 3px;
    color: var(--color-font)
}

.creator-links:hover,
.repo-link:hover {
    color: var(--color-font);
    text-decoration: underline;
    font-weight: bolder
}

.repo-link {
    display: flex;
    justify-content: center;
    margin: 10px 20px 10px 0px;
    border: 1px solid var(--color-font);
    border-radius: 5px;
    color: var(--color-font);
    width: 100%;
}

.repo-link:hover {
    box-shadow: 1px 1px 2px #621E69;
}