.send-message-form {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 0 10px 10px;
    z-index: 0;
    align-items: flex-end;
}

.message-box {
    resize: none;
    box-sizing: border-box;
    width: 98%;
    height: 3vh;
    padding: 10px;
    border: none;
    border-radius: 10px;
    z-index: 1;
    outline: transparent;
    background-color: var(--color-background);
    color: var(--color-font);
}

.char-count-and-submit {
    display: flex;
    align-items: center;
    gap: 5px;
}

.char-count-and-submit > span {
    font-size: 13px;
}

.clear-message-limit {
    color: black;
}
.over-message-limit {
    color: red;
}

.nearing-message-limit {
    color: orange;
}

.send-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007A5A;
    color: white;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

.send-message:disabled {
    background-color: lightgray;
    cursor: default;
}
