.topic-popup-form-wrapper {
    padding: 20px;
    width: 500px;
}

.topic-popup-form-wrapper>h1 {
    font-size: 24px;
    margin-top: 0px;
}

.topic-popup-form {
    width: 100%;
}

.topic-popup-form>textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #868686;
    padding: 12px;
    padding-top: 8px;
    font-size: 16px;
    border-radius: 5px;
    height: 80px;
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
}

.topic-popup-form>p {
    margin-top: 0;
    font-size: 14px;
    color: #868686;
    margin-bottom: 30px;
}

.topic-popup-form-button-wrapper {
    display: flex;
    justify-content: end;
}

.topic-popup-form-button {
    margin-left: 12px;
    width: 80px;
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 550;
    box-sizing: border-box;
}

.topic-popup-form-cancel {
    border: 1px solid #BBBABB;
    background-color: white;
}

.topic-popup-form-cancel:hover {
    background-color: #F8F8F8;
}

.topic-popup-form-submit {
    background-color: #007A5A;
    border: none;
    color: white;
}

.topic-popup-form-submit:hover {
    background-color: #138567;
}
