.preference-container-top {
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  display: flex;
  border-bottom: 1px solid rgb(170, 170, 170, 20%);
}

.preference-container-top>h2 {
  font-size: 18px;
  margin-left: 10px;
}

.preference-container-bottom {
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 25px;
  display: flex;
}

.preference-container-top>button {
  border: none;
  font-size: 20px;
  background-color: var(--color-background);
  color: var(--color-font);
}

.theme-option {
  display: flex;
  justify-content: space-between
}

.theme-option>button {
  border-radius: 5px;
  justify-content: space-around;
  font-size: 16px;
  border-color: lightgray;
  border-width: 1px;
  width: 180px;
  height: 30px;
  align-items: center;
  font-weight: bold;
  background-color: var(--color-background);
  color: var(--color-font);
}

.preference-modal {
  background-color: var(--color-background);
  color: var(--color-font);
}