.join-server-page-wrapper {
    position: absolute;
    background-color: #FAF6F2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 100px 1fr;
}

.back-to-landing {
    position: absolute;
    top: 10px;
    left: 20px;
    text-decoration: none;
    color: #0066CC;
    font-size: 12px;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.back-to-landing>p:hover {
    text-decoration: underline;
}


.join-server-page-wrapper>img {
    margin-bottom: 0px;
}

.join-server-page-wrapper>h1 {
    width: 400px;
    text-align: center;
    margin: auto;
}

.servers-to-join-wrapper {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 4px 10px #ddd;
    border-radius: 5px;
    background-color: white;
    max-height: 80%;
    overflow-y: scroll
}

.server-to-join-header {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.server-to-join {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
}

.server-to-join-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.server-to-join-image>img {
    height: 100%;
}

.server-to-join-name {
    width: 270px;
}

.add-server-button {
    border: none;
    background-color: #2e8b57;
    color: white;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    font-size: 18px;
}

.add-server-button:hover {
    background-color: #297c4d;
}

.add-server-button:active {
    background-color: #236a41;
}