.landing-top-half {
    background-color: #FAF6F2;
    height: 350px;
    display: grid;
    margin: none;
    grid-template-columns: 1fr;
}

.landing-top-half>img {
    margin-bottom: 0px;
}

.landing-header {
    margin-top: -25px;
    height: 0px;
}

.login-confirm {
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    width: fit-content;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-size: 12px;
}

.landing-top-half>h1 {
    font-size: 30px;
    font-family: 'Larsseit', Helvetica Neue, Helvetica, Segoe UI, Tahoma, Arial, sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.landing-top-half>h2 {
    text-align: center;
    font-size: 18px;
    width: 400px;
    margin: auto;
    margin-top: 0px;
    font-weight: 400;
}

.logout-button {
    border: none;
    margin-left: 10px;
    background-color: white;
    color: #777
}

.logout-button:hover {
    color: black;
}

.create-new-server {
    margin: auto;
    width: fit-content;
}

.create-new-server>.large-purple-button {
    margin: auto;
    border: 2px solid black;
}