@media screen and (max-width: 500px) {
    .landing-top-half>h1 {
        font-size: 20px;
    }

    .landing-top-half>h2 {
        font-size: 12px;
    }
}

@media screen and (min-width: 501px) {
    .landing-top-half>h1 {
        font-size: 30px;
    }

    .landing-top-half>h2 {
        font-size: 16px;
    }
}

.landing-top-half-background {
    position: relative;
    background-color: #FAF6F2;
    height: 400px;
    margin: none;
    margin-bottom: -75px;
}

.landing-top-half {
    background-color: #FAF6F2;
    height: 370px;
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    overflow: hidden;
}

.landing-top-half>img {
    margin-bottom: -15px;
}

.landing-top-half>a {
    max-width: 100%;
    margin: 0px;
}

.landing-top-half>a>button {
    margin: 0px;
}

.landing-header {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-confirm {
    margin: 0px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    width: fit-content;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

.landing-top-half>h1 {
    font-family: 'Larsseit', Helvetica Neue, Helvetica, Segoe UI, Tahoma, Arial, sans-serif;
    width: 100%;
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.landing-top-half>h2 {
    text-align: center;
    width: 400px;
    max-width: 100%;
    margin: 0px;
    font-weight: 400;
}

.logout-button {
    border: none;
    margin-left: 10px;
    background-color: white;
    color: #777;
    font-size: 12px;
}

.logout-button:hover {
    color: black;
}

.logout-button:active {
    color: #F6F6F6;
}

.landing-create-new-server {
    margin: auto;
    width: fit-content;
    padding: 0px;
}

.landing-join-server {
    margin: auto;
    width: fit-content;
    margin-top: 5px;
}


.landing-bottom-half {
    width: 400px;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: -30px;
}

.landing-bottom-half>h3 {
    text-align: center;
}

.available-servers-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 4px 10px #ddd;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
}

.available-servers-header {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.landing-server-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    max-width: 100%;
}

.landing-server-link>i {
    margin-right: 20px;
}

.landing-server-link:hover {
    background-color: #F6F6F6;
}

.landing-server-link:active {
    background-color: #F1F1F1;
}

.available-server-lhs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

.landing-server-image {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-server-image>img {
    height: 100%;
}

.landing-change-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F8F8F8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.landing-change-email>p {
    font-size: 14px;
}

.try-different-email {
    font-size: 14px;
    background-color: white;
    border: 1px solid #bbb;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
}

.try-different-email:hover {
    background-color: #F6f6f6;
}

.try-different-email:hover {
    background-color: #F1f1f1;
}