@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.profile-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  max-width: 25%;
  height: 100%;
   background-color: var(--color-background);
    color: var(--color-font);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  animation: slideIn .4s;
}
.profile-modal2 {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  max-width: 25%;
  height: 100%;
   background-color: var(--color-background);
    color: var(--color-font);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  animation: slideOut .4s;
}

.profile-top {
  padding: 10px;
  border-bottom: 1px solid rgb(170,170,170, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header {
  padding: 10px;
  border-bottom:1px solid rgb(170,170,170, 20%);
}

.profile-middle {
  padding: 10px;
  border-bottom: 1px solid rgb(170,170,170, 20%)
}


.profile-bottom {
  padding: 10px;
}


.flex-container {
  display: flex;
  justify-content: start;
  align-items: center;
}


.profile-top button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.profile-top button:hover {
  color: #333;
}

.close-profile {
  padding: 10px 5px;
  cursor: pointer;
}
