/* TODO: Add sitewide styles */

@media screen and (max-width: 500px) {

  .outer-navbar-wrapper,
  .inner-navbar-wrapper {
    visibility: hidden;
    position: absolute;
  }

  .inner-navbar-wrapper {
    left: 75px;
    border-radius: 0px;
    min-width: 190px;
    z-index: 54;
  }

  /* ensure profile dropdown and server dropdown always on top*/
  .outer-navbar-wrapper {
    z-index: 55;
    background-color: #5e2262;
  }

  .top-bar-wrapper {
    display: none;
  }

  .main-content-wrapper {
    height: 100%;
  }
}

@media screen and (min-width: 501px) {
  .open-nav-bar {
    visibility: hidden;
  }
}

.do-not-show {
  /* display: none; */
  visibility: hidden;
}

.do-show {
  /* display: block; */
  visibility: visible;
}

.home-link {
  margin: 0;
  padding: 0;
}