.channel-popup {
    width: 500px;
    height: 428px;
    overflow: hidden;
    position: relative;
    z-index: 50;
    color: var(--color-font);
    background-color: var(--color-background)
}

.channel-popup-header {
    border-bottom: 1px solid #E2E2E2;
    padding: 20px;
    padding-bottom: 0px;
    background-color: var(--color-background);
}

.channel-popup-header>h1 {
    margin: 0
}

.channel-members-wrapper {
    overflow-y: scroll;
    height: 286px;
}

.channel-popup-member {
    display: flex;
    gap: 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 20px;
    align-items: center;
    padding: 0 5px;
    align-items: center;
}

.channel-popup-member:hover {
    background-color: var(--color-hover)
}

.channel-popup-member:active {
    background-color: var(--color-active)
}

.channel-popup-members-scroll {
    overflow-y: auto;
    height: 440px;
}

.channel-popup-tab-container {
    display: flex;
    gap: 20px;
    font-size: 12px;
    margin-bottom: 0px;
}

.channel-popup-tab-container>.channel-popup-selected-tab {
    border-bottom: 2px solid #5e2262;
    color: var(--color-font)
}

.channel-popup-tab {
    color: #616061;
    cursor: pointer;
    margin-bottom: 0;
    padding: 4px 8px 8px 8px;
}

.channel-popup-tab:hover {
    color: var(--color-font)
}

.channel-popup-tab:active {
    background-color: var(--color-active)
}

.channel-popup-tab:active {
    background-color: var(--color-hover)
}

.channel-popup-content-wrapper {
    background-color: var(--color-background);
    padding: 20px;
    height: 288px;
}

.channel-popup-details-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: var(--color-background);
}

.channel-popup-details-border {
    border-bottom: 1px solid #ddd;
}

.channel-popup-details-border-last {
    border-bottom: none;
}

.channel-popup-details {
    font-size: 15px;
    margin: 15px
}

.popup-profile-pic {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.channel-popup-delete-button {
    margin-top: 20px;
}

.topic-modal-wrapper>button {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Lato, Slack-Fractions, appleLogo, sans-serif;
    border: none;
    background: none;
    border-radius: 5px;
}

.topic-modal-wrapper {
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
}

.topic-modal-wrapper>button:hover {
    background-color: var(--color-hover)
}

.topic-modal-wrapper>button:active {
    background-color: var(--color-active)
}

.channel-popup-about-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.channel-popup-about-div-left {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 16px;
    margin-top: 0px;
    color: var(--color-font);
    text-align: left;
}

.channel-popup-about-div-left>p {
    text-align: left;
    font-weight: 600;
    margin-top: 0px;
    color: var(--color-font)
}

.channel-popup-about-div-right {
    color: #1064A3;
    margin-top: 0px;
    margin-bottom: 40px;
    font-weight: 600;
}

.channel-popup-about-div-right:hover {
    text-decoration: underline;
}

.channel-popup-huddle-buttons {
    font-size: 15px;
    margin: 15px;
    display: flex;
    gap: 10px;
}

.channel-popup-huddle-buttons>button {
    background-color: var(--color-background);
    border-radius: 5px;
    display: flex;
    gap: 3px;
    border: 1px solid gray;
    color: var(--color-font)
}

.channel-popup-huddle-buttons>button:hover {
    background-color: var(--color-hover)
}

.channel-popup-delete-button {
    height: 100px;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    box-sizing: border-box;
    color: #E01E5A;
}

.channel-popup-delete-modal>button {
    height: 100px;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    box-sizing: border-box;
    color: #E01E5A;
    border: none;
    border-radius: none;
    padding: 5px;
}

.cant-delete-channel {
    display: flex;
    align-items: center;
}